<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Resonance HiFi</name>
  <service>
    <type>_http._tcp</type>
    <port>5000</port>
    <txt-record>path=/remote</txt-record>
  </service>
</service-group>
